* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: CabinSketch;
    src: url("./fonts/CabinSketch-Bold.ttf");
}

@font-face {
    font-family: Gaegu;
    src: url("./fonts/Gaegu-Regular.ttf");
}

:root {
    --main-color-1: #f6eee3;
    --main-color-2: #000000;
    --X-color: #0000ff;
    --O-color: #ff0000;

}

body {
    background-color: var(--main-color-1);
    color: var(--main-color-2);
    font-family: sans-serif;
    text-align: center;
}

.header {
    font-family: CabinSketch, sans-serif;
    font-size: 100px;
    margin: 30px 0px 10px;
}

#showName {
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Gaegu, sans-serif;
    height: 150px;
    width: 450px;
    margin: 0px auto 50px;
    font-size: 50px;
    line-height: 1.5;
}

#gameBoard {
    display: grid;
    grid-template-columns: 140px 140px 140px;
    grid-template-rows: 140px 140px 140px;
    gap: 10px;
    justify-content: center;

    background-image: url(./table.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 450px 450px;

    position: relative;
}

#gameBoard svg {
    height: 450px;
    width: 450px;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#gameBoard svg line {
    display: none;
}


#gameBoard button {
    width: 100%;
    height: 100%;
    font-family: Gaegu, sans-serif;
    font-size: 180px;
    opacity: 80%;
    overflow: hidden;
}

.isX::after {
    content: "X";
    color: var(--X-color);
    display: inline-block;
    /* Required for transform to work */
    transform: translateY(-50px);
    /* Negative value moves it UP */

}

.isO::after {
    content: "O";
    color: var(--O-color);
    display: inline-block;
    transform: translateY(-40px);
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

#newGame {
    font-family: CabinSketch, sans-serif;
    font-size: 50px;
    margin-top: 50px;
}

/* css for alert box */
#customAlert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertBox {
    background-color: var(--main-color-1);
    width: 450px;
    border-radius: 5px;
    padding: 20px;
}

#form_playerName label{
    font-family: CabinSketch, sans-serif;
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}

#form_playerName input{
    font-size: 30px;
    margin: 0px auto 30px;
    display: block;
}


#formSubmit {
    font-family: CabinSketch, sans-serif;
    font-size: 50px;
}